In [2]:

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4
from sklearn import linear_model
import seaborn as sn
from sklearn.model_selection import train_test_split

In [3]:
df_train=pd.read_csv('D:\\DataScience\\HR Analytics\\HR Analytics\\train_LZdllcl.xls')

In [4]:
df_test=pd.read_csv('D:\\DataScience\\HR Analytics\\HR Analytics\\test_2umaH9m.xls')

In [5]:
df_final=pd.read_csv('D:\\DataScience\\HR Analytics\\HR Analytics\\sample_submission_M0L0uXE.xls')

In [6]:
df_train['Source']='train'

In [7]:
df_test['Source']='test'

In [8]:
df=pd.concat([df_train,df_test],ignore_index=True)

D:\Development_Avecto\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [9]:
df.tail()

,KPIs_met >80%,Source,age,avg_training_score,awards_won?,department,education,employee_id,gender,is_promoted,length_of_service,no_of_trainings,previous_year_rating,recruitment_channel,region
78293,0,test,24,61,0,Legal,Below Secondary,53478,m,NaN,1,1,3.0,sourcing,region_2
78294,0,test,31,74,0,Technology,Bachelor's,25600,m,NaN,7,1,3.0,sourcing,region_25
78295,0,test,26,50,0,HR,Bachelor's,45409,f,NaN,4,1,4.0,sourcing,region_16
78296,0,test,27,70,0,Procurement,Bachelor's,1186,m,NaN,1,3,NaN,sourcing,region_31
78297,1,test,40,89,0,Technology,Master's & above,5973,m,NaN,5,3,5.0,other,region_17

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 15 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
Source                  54808 non-null object
dtypes: float64(1), int64(8), object(6)
memory usage: 6.3+ MB

In [11]:
df_train.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [12]:
print('Train:')
print(df_train.isnull().sum())
print('Test:')
print(df_test.isnull().sum())

Train:
employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
Source                     0
dtype: int64
Test:
employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
Source                     0
dtype: int64

In [13]:
df_train[df_train['previous_year_rating'].isnull()]['length_of_service'].value_counts()

1    4124
Name: length_of_service, dtype: int64

In [14]:
df_train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Source
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0,train
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0,train
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0,train
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0,train
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0,train

In [15]:
df['education']=df.groupby(['department','region'])['education'].transform(lambda x:x.fillna(x.mode()[0]))

In [16]:
df['education'].value_counts()

Bachelor's          55686
Master's & above    21433
Below Secondary      1179
Name: education, dtype: int64

In [17]:
df['previous_year_rating']=df.groupby(['department','education'])['previous_year_rating'].transform(lambda x:x.fillna(x.mode()[0]))

In [18]:
df[df['previous_year_rating'] == np.nan]
df[df['previous_year_rating'].isnull()]

Empty DataFrame
Columns: [KPIs_met >80%, Source, age, avg_training_score, awards_won?, department, education, employee_id, gender, is_promoted, length_of_service, no_of_trainings, previous_year_rating, recruitment_channel, region]
Index: []

In [19]:

categorical_columns =[ i for i in df.dtypes.index if df.dtypes[i]=='object']
categorical_columns =[i  for i in categorical_columns if i not in ('Source')]

categorical_columns

['department', 'education', 'gender', 'recruitment_channel', 'region']

In [20]:
numerical_columns=[ i for i in df.dtypes.index if df.dtypes[i]!='object']
numerical_columns =[i  for i in numerical_columns if i not in ('Source','employee_id','is_promoted')]
numerical_columns

['KPIs_met >80%',
 'age',
 'avg_training_score',
 'awards_won?',
 'length_of_service',
 'no_of_trainings',
 'previous_year_rating']

In [21]:
df.rename(columns={'KPIs_met >80%':'KPI_met'},inplace=True)

In [22]:
df.head()

,KPI_met,Source,age,avg_training_score,awards_won?,department,education,employee_id,gender,is_promoted,length_of_service,no_of_trainings,previous_year_rating,recruitment_channel,region
0,1,train,35,49,0,Sales & Marketing,Master's & above,65438,f,0.0,8,1,5.0,sourcing,region_7
1,0,train,30,60,0,Operations,Bachelor's,65141,m,0.0,4,1,5.0,other,region_22
2,0,train,34,50,0,Sales & Marketing,Bachelor's,7513,m,0.0,7,1,3.0,sourcing,region_19
3,0,train,39,50,0,Sales & Marketing,Bachelor's,2542,m,0.0,10,2,1.0,other,region_23
4,0,train,45,73,0,Technology,Bachelor's,48945,m,0.0,2,1,3.0,other,region_26

In [23]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le=LabelEncoder()

columns_encode=['department', 'education', 'gender', 'recruitment_channel', 'region']
for column in columns_encode:
    le.fit(df[column])
    le.classes_
    df[column]=le.transform(df[column])

In [90]:
df.columns

Index(['KPIs_met >80%', 'Source', 'age', 'avg_training_score', 'awards_won?',
       'department', 'education', 'employee_id', 'gender', 'is_promoted',
       'length_of_service', 'no_of_trainings', 'previous_year_rating',
       'recruitment_channel', 'region'],
      dtype='object')

In [24]:
#onehot encoder
df_dummy=pd.get_dummies(df[['department', 'education', 'gender', 'recruitment_channel', 'region']])

In [25]:
df_preprocess=pd.concat([df,df_dummy],axis=1)

In [26]:
from sklearn import preprocessing

In [27]:
# Combine Fit and Transform into Single 
df_std_fitTrans = preprocessing.StandardScaler().fit_transform(df_preprocess[['KPI_met', 'age', 'avg_training_score', 'awards_won?', 'length_of_service', 'no_of_trainings', 'previous_year_rating']])

In [28]:
df_std_fitTrans

array([[ 1.35077873,  0.02640019, -1.07218442, ...,  0.50635689,
        -0.4175904 ,  1.39144112],
       [-0.7403137 , -0.62584072, -0.25028165, ..., -0.43525328,
        -0.4175904 ,  1.39144112],
       [-0.7403137 , -0.10404799, -0.99746599, ...,  0.27095435,
        -0.4175904 , -0.25331585],
       ...,
       [-0.7403137 , -1.14763345, -0.99746599, ..., -0.43525328,
        -0.4175904 ,  0.56906264],
       [-0.7403137 , -1.01718526,  0.49690268, ..., -1.14146091,
         2.8785932 , -0.25331585],
       [ 1.35077873,  0.67864109,  1.91655291, ..., -0.19985074,
         2.8785932 ,  1.39144112]])

In [29]:
df_stdscaller=pd.DataFrame({'KPI_met': df_std_fitTrans[:,0],'age':df_std_fitTrans[:,1],
                            'avg_training_score': df_std_fitTrans[:,2],'awards_won?':df_std_fitTrans[:,3],
                            'length_of_service': df_std_fitTrans[:,4],'no_of_trainings':df_std_fitTrans[:,5],
                             'previous_year_rating': df_std_fitTrans[:,6]                
                           
                           })

In [30]:
df_stdscaller.head()

,KPI_met,age,avg_training_score,awards_won?,length_of_service,no_of_trainings,previous_year_rating
0,1.350779,0.026400,-1.072184,-0.153613,0.506357,-0.417590,1.391441
1,-0.740314,-0.625841,-0.250282,-0.153613,-0.435253,-0.417590,1.391441
2,-0.740314,-0.104048,-0.997466,-0.153613,0.270954,-0.417590,-0.253316
3,-0.740314,0.548193,-0.997466,-0.153613,0.977162,1.230501,-1.898073
4,-0.740314,1.330882,0.721058,-0.153613,-0.906058,-0.417590,-0.253316

In [31]:
df_preprocess.drop(columns=['KPI_met', 'age', 'avg_training_score', 'awards_won?', 'length_of_service', 'no_of_trainings',
 'previous_year_rating'],axis=1,inplace=True)

In [32]:
df_preprocess.drop(columns=['department', 'education', 'gender', 'recruitment_channel', 'region'],axis=1,inplace=True)

In [33]:
df_preprocess.shape

(78298, 54)

In [34]:
df_preprocess.tail()

,Source,employee_id,is_promoted,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,...,region_region_31,region_region_32,region_region_33,region_region_34,region_region_4,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9
78293,test,53478,NaN,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78294,test,25600,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78295,test,45409,NaN,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78296,test,1186,NaN,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
78297,test,5973,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df_stdscaller.tail()

,KPI_met,age,avg_training_score,awards_won?,length_of_service,no_of_trainings,previous_year_rating
78293,-0.740314,-1.408530,-0.175563,-0.153613,-1.141461,-0.417590,-0.253316
78294,-0.740314,-0.495393,0.795776,-0.153613,0.270954,-0.417590,-0.253316
78295,-0.740314,-1.147633,-0.997466,-0.153613,-0.435253,-0.417590,0.569063
78296,-0.740314,-1.017185,0.496903,-0.153613,-1.141461,2.878593,-0.253316
78297,1.350779,0.678641,1.916553,-0.153613,-0.199851,2.878593,1.391441

In [36]:
df_preprocess_1=pd.concat([df_preprocess,df_stdscaller],axis=1)

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

In [38]:
df_tr=df_preprocess_1[df_preprocess_1['Source']=='train']
df_ts=df_preprocess_1[df_preprocess_1['Source']=='test']

In [174]:
X=df_tr.drop(columns=['Source','employee_id','is_promoted'])
Y=df_tr['is_promoted']

In [175]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [62]:

logreg = LogisticRegression()

In [63]:
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [64]:
Ytrain_predict=logreg.predict(X_train)

In [65]:
metrics.confusion_matrix(y_train,Ytrain_predict)

array([[34888,   195],
       [ 2445,   837]], dtype=int64)

In [66]:
metrics.accuracy_score(y_train,Ytrain_predict)

0.9311872800729832

In [67]:
print(metrics.classification_report(y_train,Ytrain_predict))

             precision    recall  f1-score   support

        0.0       0.93      0.99      0.96     35083
        1.0       0.81      0.26      0.39      3282

avg / total       0.92      0.93      0.91     38365

In [78]:
Ytest_predict=logreg.predict(X_test)

In [79]:
metrics.confusion_matrix(y_test,Ytest_predict)

array([[14982,    75],
       [ 1024,   362]], dtype=int64)

In [80]:
print(metrics.classification_report(y_test,Ytest_predict))

             precision    recall  f1-score   support

        0.0       0.94      1.00      0.96     15057
        1.0       0.83      0.26      0.40      1386

avg / total       0.93      0.93      0.92     16443

In [68]:
logreg.fit(df_tr.drop(columns=['Source','employee_id','is_promoted']),df_tr.is_promoted)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [69]:
train_predict=logreg.predict(df_tr.drop(columns=['Source','employee_id','is_promoted']))

In [70]:
metrics.accuracy_score(df_tr['is_promoted'],train_predict)

0.9321266968325792

In [71]:
metrics.confusion_matrix(df_tr['is_promoted'],train_predict)

array([[49863,   277],
       [ 3443,  1225]], dtype=int64)

In [72]:
print(metrics.classification_report(y_test,Ytrain_predict))

             precision    recall  f1-score   support

        0.0       0.93      0.99      0.96     35083
        1.0       0.81      0.26      0.39      3282

avg / total       0.92      0.93      0.91     38365

In [73]:
test_predict=logreg.predict(df_ts.drop(columns=['Source','employee_id','is_promoted']))

In [74]:
print(metrics.classification_report(df_ts['is_promoted'],test_predict))

ValueError: Mix type of y not allowed, got types {'binary', 'continuous'}

In [188]:
df_final ['is_promoted']=test_predict.astype(int)

In [91]:
df_final ['is_promoted']=df_final ['is_promoted'].astype(int)

In [92]:
df_final.to_csv("HRAnalytics_KNN.csv",index=False)

In [190]:
df_final ['is_promoted'].value_counts()

0    22868
1      622
Name: is_promoted, dtype: int64

In [89]:
df_final ['is_promoted'].value_counts()

0.0    23300
1.0      190
Name: is_promoted, dtype: int64

In [40]:
X=df_tr.drop(columns=['Source','employee_id','is_promoted'])
Y=df_tr['is_promoted']

In [54]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [86]:
def fit_predict(train, test, y_train, y_test, scaler, 
                n_neighbours, metric = 'manhattan', weights = 'uniform'):
    #train_scaled = scaler.fit_transform(train)
    #test_scaled = scaler.transform(test)        
    knn = KNeighborsClassifier(n_neighbors=n_neighbours, metric=metric, 
                               weights=weights, n_jobs = 4)
    knn.fit(train, y_train)
    df_final ['is_promoted']= knn.predict(test)

In [57]:
for k in range(1,11):
    print('Accuracy score on kNN using n_neighbours = {0}:'.format(2**k), end = ' ')
    fit_predict(X_train, X_test, y_train, y_test, StandardScaler(), 2**k)

Accuracy score on kNN using n_neighbours = 2: 0.9152830991911451
Accuracy score on kNN using n_neighbours = 4: 0.917290032232561
Accuracy score on kNN using n_neighbours = 8: 0.9196618621905979
Accuracy score on kNN using n_neighbours = 16: 0.9214255306209329
Accuracy score on kNN using n_neighbours = 32: 0.9214255306209329
Accuracy score on kNN using n_neighbours = 64: 0.9214255306209329
Accuracy score on kNN using n_neighbours = 128: 0.9210606337043119
Accuracy score on kNN using n_neighbours = 256: 0.9196618621905979
Accuracy score on kNN using n_neighbours = 512: 0.9166818707048592
Accuracy score on kNN using n_neighbours = 1024: 0.9157088122605364

In [87]:
k=4
fit_predict(df_tr.drop(columns=['Source','employee_id','is_promoted']),
           df_ts.drop(columns=['Source','employee_id','is_promoted']), 
            df_tr['is_promoted'] , y_test, StandardScaler(), 2**k)

In [85]:
df_ts.head()

,Source,employee_id,is_promoted,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,...,region_region_7,region_region_8,region_region_9,KPI_met,age,avg_training_score,awards_won?,length_of_service,no_of_trainings,previous_year_rating
54808,test,8724,0.0,0,0,0,0,0,0,0,...,0,0,0,1.350779,-1.408530,1.019932,-0.153613,-1.141461,-0.417590,-0.253316
54809,test,74430,0.0,0,0,1,0,0,0,0,...,0,0,0,-0.740314,-0.495393,-0.922748,-0.153613,-0.199851,-0.417590,-0.253316
54810,test,72255,0.0,0,0,0,0,0,0,0,...,0,0,0,-0.740314,-0.495393,-1.221621,-0.153613,-0.435253,-0.417590,-1.898073
54811,test,38562,0.0,0,0,0,0,0,1,0,...,0,0,0,-0.740314,-0.495393,0.123311,-0.153613,0.741759,2.878593,-1.075694
54812,test,64486,0.0,0,1,0,0,0,0,0,...,0,0,0,-0.740314,-0.625841,-0.175563,-0.153613,0.270954,-0.417590,0.569063