In [1]:
x=['ab','cd']
for i in x:
    i.upper()
print(x)

['ab', 'cd']

In [3]:
try:
    if '1'!=1:raise

SyntaxError: unexpected EOF while parsing (<ipython-input-3-b607995387d6>, line 2)

In [40]:
import pandas as pd 
   
# Dataframe generation 
string = 'PandasisFun'
llist = 3 * [pd.Series(list(string))] 
df = pd.DataFrame(data = llist)  #converting list of series into a dataframe
df.head()

  0  1  2  3  4  5  6  7  8  9  10
0  P  a  n  d  a  s  i  s  F  u  n
1  P  a  n  d  a  s  i  s  F  u  n
2  P  a  n  d  a  s  i  s  F  u  n

In [45]:
print("Original dataframe:\n" +       df.to_string(index = False, 
      header = False), end = '\n\n') #viewing orginal Data

Original dataframe:
P  a  n  d  a  s  i  s  F  u  n
P  a  n  d  a  s  i  s  F  u  n
P  a  n  d  a  s  i  s  F  u  n

In [26]:
df=pd.DataFrame(pd.Series([1,2,34,56,6]),columns=['Data'])

In [46]:
df.apply(lambda x:x.sort_values(ascending=False),axis=1)

  9  7  5  10 2  6  3  4  1  0  8
0  u  s  s  n  n  i  d  a  a  P  F
1  u  s  s  n  n  i  d  a  a  P  F
2  u  s  s  n  n  i  d  a  a  P  F

In [48]:
df.applymap(lambda x:x.upper()+'%')

   0   1   2   3   4   5   6   7   8   9   10
0  P%  A%  N%  D%  A%  S%  I%  S%  F%  U%  N%
1  P%  A%  N%  D%  A%  S%  I%  S%  F%  U%  N%
2  P%  A%  N%  D%  A%  S%  I%  S%  F%  U%  N%

In [55]:
df.iloc[:,0].map(lambda x: x+'PPQ')

0    PPPQ
1    PPPQ
2    PPPQ
Name: 0, dtype: object

In [107]:
import itertools
a = [1,2,3,7]
ls=list()
ls1=list()
for i in range(1,len(a)+1):
    ls.append(list(itertools.combinations(a,i)))
print(ls)

[[(1,), (2,), (3,), (7,)], [(1, 2), (1, 3), (1, 7), (2, 3), (2, 7), (3, 7)], [(1, 2, 3), (1, 2, 7), (1, 3, 7), (2, 3, 7)], [(1, 2, 3, 7)]]

In [108]:
ls1=list()
for i in ls:
    ls1.append(i[0])
print(ls1)

[(1,), (1, 2), (1, 2, 3), (1, 2, 3, 7)]

ValueError: not enough values to unpack (expected 2, got 1)

In [81]:
import operator
import itertools

idx0 = operator.itemgetter(0)
list_of_pairs = [(0, 1), (2, 3), (5, 7), (2, 1)]
sum(itertools.imap(idx0, list_of_pairs))

AttributeError: module 'itertools' has no attribute 'imap'

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'