In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\DataScience\\DAT101x\\Lemonade.csv')

In [3]:
df.head()

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18

In [ ]:
##Using the filter and sort capabilities in Excel Online, filter the data so that only weekdays (Monday to Friday) are shown, 
# and sort the data so that the first row contains data for the weekday with the lowest temperature.
##2. Make a note of the day and the temperature, and then clear the filter and re-sort the data back into chronological order.