In [1]:
def make_number(alphanum):
    sign = 1
    if alphanum and alphanum[0] in '+-':
        sign = int(alphanum[0] + '1')
        alphanum = alphanum[1:]
    try:    
        return float(''.join(it.takewhile(lambda x: x.isdigit() 
                                           or x == '.', alphanum))) * sign
    except ValueError:
        return 0

In [14]:
import pandas as pd 
import itertools as it

In [16]:
df1 = {
'Name':['unit1','unit2','unit3','unit4','unit5'],
'Value':['26.6KM','26.6KM/L','26.6M/L','26.6l','+20']}

In [19]:
df=pd.DataFrame(df1)

In [18]:
df.head()

    Name     Value
0  unit1    26.6KM
1  unit2  26.6KM/L
2  unit3   26.6M/L
3  unit4     26.6l
4  unit5       +20

In [15]:
df['Value'].apply(lambda x: make_number(x))

0    26.6
1    26.6
2    26.6
3    26.6
Name: Value, dtype: float64